@use '../abstract/mixin' as queries;

.gallery-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));

  @include queries.respond(phone) {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }
}

