.section__design {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.design__001,
.design__002 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.design__001 {
  background-image: url('../../assets/images/desktop/image-graphic-design.jpg');
}

.design__002 {
  background-image: url('../../assets/images/desktop/image-photography.jpg');
}

.design__001__container,
.design__002__container {
  //   border: 1px solid red;
  height: 50%;
  width: 55%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
