@use '../abstract/mixin' as queries;

.product-section {
    display: grid;
    grid-template-columns: [product-start] minmax(4rem, 1fr) [product-center-start] repeat(6, [product-col-start] minmax(min-content, 15rem) [product-col-end]) [product-center-end] minmax(4rem, 1fr) [product-end];

    @include queries.respond(phone) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.product__graphic {
    grid-column: product-start / product-col-start 4;

    background-image: url('../../assets/images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.product__photography {
    grid-column: product-col-start 4 / product-end;

    background-image: url('../../assets/images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.product__graphic,
.product__photography {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    // // grid-template-rows: repeat(2, minmax(min-content, 1fr));
    // grid-template-columns: repeat(4, minmax(min-content, 1fr));
    // grid-auto-flow: column;
    // justify-content: center;

    // display: flex;
    // // flex-direction: column;
    // // justify-content: flex-end;
    // align-self: flex-end;
    // height: 100%;
    // margin-top: auto;
}

.product__inner__container {
    grid-row: 3 / -1;


    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}




///////////////////////////////
/// /
// .product {
//   // grid-column: full-start / full-end;

//   // display: grid;
//   // grid-template-columns: repeat(2, minmax(min-content, 1fr));

//   // &__graphic,
//   // &__photography {
//   //   justify-self: flex-end;
//   // }

//   // @include queries.respond(phone) {
//   //   grid-template-columns: 1fr;
//   // }

//   &__graphic {
//     // background-color: green;
//     grid-column: full-start / col-start 4;

//     background-image: url('../assets/images/desktop/image-graphic-design.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;

    
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
    
    
//     // padding: 0 13vw 3em 13vw;
//     // padding-bottom: 2em;

//     @include queries.respond(phone) {
//       grid-column: full-start / full-end;
//     }
    
//     @include queries.respond(screen-sm) {
//       background-image: url('../assets/images/mobile/image-graphic-design.jpg');
//       padding: 0 5vw 2em 5vw;
//     }
//   }

//   &__photography {
//     grid-column: col-start 4 / full-end;

//     background-image: url('../assets/images/desktop/image-photography.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;

    
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
    
//     // padding: 0 13vw 3em 13vw;
//     // padding-bottom: 2em;

//     @include queries.respond(phone) {
//       grid-column: full-start / full-end;
//     }


//     @include queries.respond(screen-sm) {
//       background-image: url('../assets/images/mobile/image-photography.jpg');
//       padding: 0 5vw 2em 5vw;
//     }
//   }
// }
/////////////////////////////////////
/// /

// .section__design {
//   display: grid;
//   grid-template-columns: 1fr 1fr;

//   @include queries.respond(screen-md) {
//     grid-template-columns: 1fr;
//   }
// }

// .design__001,
// .design__002 {
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-end;
// }

// .design__001 {
//   background-image: url('../../assets/images/desktop/image-graphic-design.jpg');

//   @include queries.respond(screen-md) {
//     background-image: url('../../assets/images/mobile/image-graphic-design.jpg');
//   }
// }

// .design__002 {
//   background-image: url('../../assets/images/desktop/image-photography.jpg');

//   @include queries.respond(screen-md) {
//     background-image: url('../../assets/images/mobile/image-photography.jpg');
//   }
// }

// .design__001__container,
// .design__002__container {
//   border: 1px solid red;
//   height: 50%;
//   width: 55%;
//   padding: 1rem;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
