.section__services {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.services__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.services__info .services__info__container__transform {
  padding: 0 6rem 0 9rem;
}

.services__info .services__info__container__standout {
  padding: 0 5rem 0 8rem;
}

.highlight__text__001 {
  text-decoration: none;
  position: relative;
  z-index: 2;

  &::before {
    /* Highlight color */
    background-color: rgba(235, 212, 83, 0.568);

    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 45%;
    left: -2px;
    bottom: -2px;
    z-index: -1;
    transform: translateY(-10deg);
  }
}

.highlight__text__002 {
  text-decoration: none;
  position: relative;
  z-index: 2;

  &::before {
    /* Highlight color */
    background-color: rgba(254, 121, 103, 0.473);

    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 45%;
    left: -2px;
    bottom: -2px;
    z-index: -1;
    transform: transform(-10deg);
  }
}
