.footer {
    background-color: hsl(168, 66%, 68%);
}

.footer__container {
    // border: 1px solid red;
    max-width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__resources__list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    margin-bottom: 3rem;
}

.footer__social__links {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 1.5rem;

}

.footer__logo {
  width: 100%;
  max-width: 9.375rem;

  & img {
    width: 100%;
  }
}
