@use '../abstract/mixin' as queries;
@use '../abstract/mixin' as animate;

.header {
  // background-color: red;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;

  background-image: url('../../assets/images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include queries.respond(phone) {
    background-image: url('../../assets/images/mobile/image-header.jpg');
  }
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  margin-bottom: 3rem;
  border: 1px solid red;

  @include queries.respond(screen-sm) {
    position: relative;
    & .nav {
      position: absolute;
      background-color: var(--color-0010);
      top: 90px;
      left: 0;
      right: 0;
      margin: 0 2rem;
      padding: 4rem 0;
      z-index: 100;

      & .nav__list__item {
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }
}

.nav__list__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.heading__container {
  // border: 1px solid;
  width: 70%;
  margin: 0 auto;

  & svg {
    margin: 5rem auto;
    @include animate.animate-arrow;
  }
}

.hamburger__btn {
  display: none;
}



// .header {
//   background-color: red;
//   grid-row: 1 / 2;
//   grid-column: full-start / full-end;
// }

// .wrapper {
//   // background-color: #eee;
//   // border: 2px solid blue;

//   display: grid;
//   grid-template-rows: 0.279fr 1fr 0.15fr;
//   // grid-template-rows: 1fr 1fr 0.1fr;

//   // grid-template-rows: repeat(auto-fit, minmax(800px, 1fr));
//   // @include queries.respond(screen-md) {
//   //   grid-template-columns: 0.2fr;
//   // }
// }

// .item {
//   &__main {
//     display: grid;
//     grid-template-rows: 0.5fr 0.5fr 0.6fr 0.3fr;

//     // @include queries.respond(screen-md) {
//     //   grid-template-rows: 1fr;
//     // }
//   }
// }

// .item__header {
//   background-image: url('../../assets/images/desktop/image-header.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;

//   @include queries.respond(screen-md) {
//     background-image: url('../../assets/images/mobile/image-header.jpg');
//     // background-size: contain;
//     // background-position: center;
//   }
// }

// .hero__primary__heading {
//   margin-bottom: 5rem;
// }

// .hero__arrow__down {
//   margin: 0 auto;
// }

// .section {
//   background-color: #eee;
// }

// .section__services {
//   display: grid;
//   grid-template-rows: 1fr 1fr;
//   grid-template-columns: 1fr 1fr;
// }

// .section__design {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// .design__001 {
//   background-image: url('../../assets/images/desktop/image-graphic-design.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-end;
// }

// .design__002 {
//   background-image: url('../../assets/images/desktop/image-photography.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-end;
// }

// .img__design {
//   width: 100%;
//   height: 100%;
// }

// .client__testimonial__container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   align-items: center;
//   justify-content: center;
// }

// .section__gallery {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
// }
