@use '../abstract/mixin' as queries;
@use '../abstract/mixin' as animate;


.header {
  background-image: url('../../assets/images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include queries.respond(phone) {
    background-image: url('../../assets/images/mobile/image-header.jpg');
  }
}


.nav__logo {
  display: inline-block;
}


.nav__container {
  position: relative;
  grid-column: header-start / header-end;
  grid-row: 1 / 2;

  width: 100%;
  margin: 0 auto 9rem auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;


  // Hide the hambuger button first
  & .hamburger__btn {
    display: none;
  }

  @include queries.respond(phone) {
    margin-bottom: 8rem;

    // unhide the hambuger button if the screen size is 950px
    & .hamburger__btn {
      display: block;
      cursor: pointer;
    }

    // Hide the navigation
    & .nav  {
      display: none;
    }

    // If the nav has a class of display then make it visible
    & .nav.display {
      display: block;
    }
    
  }

  @include queries.respond(phone-sm) {
    padding: 1.5rem 1rem;
    margin: 0 auto 1rem auto;

  }



  & .nav {
      @include queries.respond(phone) {
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;

        background-color: var(--color-0010);
        clip-path: polygon(0 10%, 91% 10%, 100% 0, 100% 100%, 0 100%);
        margin: 0 2rem;
        padding: 5rem 0 4rem 0;
        z-index: 100;

      & .nav__list__item {
        flex-direction: column;
        gap: 1.5rem;
      }
      
    }

      @include queries.respond(phone-sm) {
        margin: 0 1rem;
      }
  }
}


.nav__list__item {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.heading__container {
  grid-column: header-col-start 1 / header-center-end;
}

.arrow__down {
  margin: 5rem auto;
  @include animate.animate-arrow;
}
