@use '../abstract/mixin' as queries;

.main {
    background-color: #eee;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) 80vh min-content min-content;

    @include queries.respond(phone) {
        grid-template-rows: minmax(min-content, max-content) 90vh min-content min-content;
    }
}