@use '../abstract/mixin' as queries;
@use '../abstract/variables' as font;


.nav__item__link--btn:link,
.nav__item__link--btn:visited {
    background-color: var(--color-0010);
    color: var(--color-006);
    font-family: customFont700, serif;
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    padding: 1em 1.5em;
    border-radius: 30px;
    transition: all 0.3s ease;

    @include queries.respond(phone) {
        background-color: var(--color-002);
    }
}

.nav__item__link--btn:hover, 
.nav__item__link--btn:active {
    background-color: hsla(0, 0%, 100%, 0.253);
    color: var(--color-0010);

    @include queries.respond(phone) {
        color: var(--color--006);
    }
}


