// @use '../abstract/mixin' as animate;
// @use '../abstract/mixin' as queries;

@font-face {
  font-family: customFont900;
  src: url('../../assets/font/Fraunces_9pt-Black.ttf');
}

@font-face {
  font-family: customFont700;
  src: url('../../assets/font/Fraunces_9pt-Bold.ttf');
}

@font-face {
  font-family: customFont600;
  src: url('../../assets/font/Barlow-SemiBold.ttf');
}

.navigation__link {
  font-family: customFont600, sans-serif;
  color: var(--color-0010);
  font-size: 1.125rem;
}

.hero__primary__heading {
  font-family: CustomFont900, serif;
  color: var(--color-0010);
  //   font-size: clamp(2.125rem, calc(2.499vw + 1.188rem), 3.438rem);
  font-size: 4.376rem;
  letter-spacing: 0.5rem;
}

.secondary__heading {
  font-family: customFont700, serif;
  color: var(--color-006);
  font-size: 2rem;
  font-weight: bold;
  width: 75%;
}

.text__message {
  font-family: customFont600, sans-serif;
  font-size: 1.01rem;
  color: var(--color-008);
}

.text__message__services {
  width: 80%;
}

.secondary__heading,
.text__message__services {
  margin-bottom: 1.5rem;
}

.highlight__text__001,
.highlight__text__002 {
  font-family: customFont900, sans-serif;
  text-transform: uppercase;
  color: var(--color-006);
}

.tertiary__heading {
  font-family: customFont700, serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text__color__graphic {
  color: var(--color-003);
}

.text__color__photography {
  color: var(--color-004);
}

.text__message__product__001 {
  color: var(--color-005);
}

.text__message__product__002 {
  color: var(--color-004);
}

.testimonial__heading {
  text-transform: uppercase;
  font-family: customFont700, serif;
  letter-spacing: 5px;
  font-size: 1.2rem;
  color: var(--color-009);
}

.text__message__quote {
  color: var(--color-007);
  width: 80%;
}

.testimonial__name {
  font-family: customFont700, serif;
  color: var(--color-006);
  margin-bottom: 0.5em;
}

.testimonial__position {
  font-family: customFont600, sans-serif;
  font-size: 0.875rem;
  color: var(--color-009);
}
// a {
//   font-size: 1.125rem;
// }

// h1 {
//   margin-top: 1em;
//   margin-bottom: 1.7em;
//   color: var(--color-0010);
//   font-family: customFont900, serif;
//   letter-spacing: 0.5rem;
//   @include animate.animate-heading;
// }

// font-size: clamp(0.938rem, calc(0.357vw + 0.804rem), 1.125rem);
// font-size: clamp(1.125rem, calc(3.808vw + 0.527rem), 3.438rem);
