@use '../abstract/mixin' as animate;
@use '../abstract/mixin' as queries;

@font-face {
    font-family: customFont900;
    src: url('../../assets/font/Fraunces_9pt-Black.ttf');
  }
  
  @font-face {
    font-family: customFont700;
    src: url('../../assets/font/Fraunces_9pt-Bold.ttf');
  }
  
  @font-face {
    font-family: customFont600;
    src: url('../../assets/font/Barlow-SemiBold.ttf');
  }
  

%heading {
    font-family: customFont900, serif;
}

%paragraph {
    font-family: customFont600, sans-serif
}


.heading--1 {
    @extend %heading;
    color: var(--color-0010);
    font-size: var(--font-size-heading-1);
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding: 0;
    @include animate.animate-heading;
}


.heading--2 {
    @extend %heading;
    font-size: var(--font-size-heading-2);
    font-weight: 700;
    color: var(--color-006);
    width: 70%;

}


.heading--3 {
    @extend %heading;
    font-size: var(--font-size-heading-3);

    &__emerald {
        color: var(--color-003)
    }

    &__dark {
        color: var(--color-006)
    }
}



.heading--4 {
    font-family: customFont700, serif;
    font-size: var(--font-size-xs);
    color: var(--color-009);
    letter-spacing: 4px;
    text-transform: uppercase
}


.heading--5 {
    @extend %heading;
    color: var(--color-006);
    font-size: var(--font-size-xs);
}


.p-text-sm {
    @extend %paragraph;
    color: var(--color-009);
    font-size: var(--font-size-xs);
}


.p-text {
    @extend %paragraph;
    font-size: var(--font-p-text);
    
    &__slate {
        color: var(--color-008);
        width: 85%;
    }

    &__emerald {
        color: var(--color-003);
        width: 90%;
    }

    &__dark {
        color: var(--color-006);
        width: 90%;
    }

    &__gray {
        color: var(--color-007);
    }
}

.nav__item__link:link,
.nav__item__link:visited {
    @extend %paragraph;
    display: inline-block;
    color: var(--color-0010);
    font-size: var(--font-size-sm);
    text-decoration: none;
    transition: all 0.3s ease;

    @include queries.respond(phone) {
        color: var(--color-008);
    }
}

.nav__item__link:hover,
.nav__item__link:active {
    color: var(--color--006)
}



.highlight-text {
    @extend %heading;
    color: var(--color-006);
    font-size: var(--font-size-xs);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;

    &__001 {
        position: relative;

        &::before {
            /* Highlight color */
            background-color: var(--highlight--1);

            content: '';
            position: absolute;
            width: calc(100% + 10px);
            height: 45%;
            left: -2px;
            bottom: -2px;
            z-index: -1;
            transform: translateY(-10deg);
        }
    }

    &__002 {
        position: relative;

        &::before {
            /* Highlight color */
            background-color: var(--highlight--2);
                
            content: '';
            position: absolute;
            width: calc(100% + 10px);
            height: 45%;
            left: -2px;
            bottom: -2px;
            z-index: -1;
            transform: transform(-10deg);
        }
        
    }
}

.footer__resources__link:link, 
.footer__resources__link:visited {
    @extend %paragraph;
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: var(--color-005);
    transition: all 0.3s ease;
}


.footer__resources__link:hover,
.footer__resources__link:active {
    color: var(--color-0010);
}



.social__icon:active path,
.social__icon:hover path {
    fill: #eee;
}

