.u-text-center { text-align: center; }

.mb-sm { margin-bottom: 1rem; }
.mb-md { margin-bottom: 2rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-xl { margin-bottom: 6rem; }

.reveal {
  transition: transform 0.8s ease-out, opacity 1s ease-out;
}

.item--hidden { 
  opacity: 0; 
  transform: translateY(40%);
}

.img__design { 
  width: 100%; 
  height: 100%; 
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
